.page-heading {
  width: 100%;
  height: 40vh;
}

.layout-container {
  overflow: visible;
  margin-top: -10vh;
}

.main-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.main-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px
}

.site-container {
  background-color: #20435E;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation-duration: 30s;
  animation-name: background;
  animation-iteration-count: infinite;
}

@keyframes background {
    0% {background-color: #20435E;}
    33% {background-color: #5E2024;}
    66% {background-color: #5E2043;}
    100% {background-color: #20435E;}
}
